extends layout

block content
	#wrapper
		header
			h1 Documathon
			aside V0.2
		include ./login.jade
	script(src="/javascripts/scripts.js")
	script(src="/javascripts/notify.min.js")
	script(src='/javascripts/adapter.js')
	script(src="/javascripts/sockets.js")
	script(type='text/javascript').
		$('main').center();
		var base64 = null;
