main
	p Bienvenue sur le Documathon. Passez votre badge d'identification, ou le badge Faclab, au dessus du symbole <strong>NFC</strong>.
	if (dev)
		a(id="button-blue", onclick="socket.emit('log');") Login