main
	p Les étapes ont bien étaient envoyé.
	p Redirection sur l'index dans <span id="countdown">10</span> seconde
	script(type='text/javascript').
		var max_time = 10;
		var cinterval = setInterval('reloadInXSeconds()', 1000);