doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="/javascripts/jquery-1.9.1.min.js")
		script(src="/javascripts/jquery-ui.min.js")
		script(src="/socket.io/socket.io.js")
	body
		block content
		footer
			p 
				| Ce Projet est réalisé pour le 
				a(href='http://www.faclab.org') Faclab
				|  par 
				a(href='http://www.tgrange.com') Tatiana Grange