main
	h2 Création d'un nouveau projet
	div(id="form-main")
		div(id="form-div")
			form(class="form",id="form1")
				p(class="name")
					input(name="name", type="text", class="validate[required,custom[onlyLetter],length[0,100]] feedback-input", placeholder="Nom du projet", id="formId")
	p Appuyer sur le bouton valider pour passer à la suite
	script