main
	p Les étapes sont en cours d'envoie.
	p Etape <strong id="actualStepsNumber">0<strong>/#{totalStep}
	img(src="images/preloader.gif")
	script(type='text/javascript').
		var actualStepsNumber = 0;