main
	video
	canvas(style="display:none;")
	img
	p Appuie sur le bouton <strong>valider</strong> pour prendre la photo.
	script(type='text/javascript').
		var video = document.querySelector('video');
		video.addEventListener('canplay', function(ev){ }, false);
